.item {
    height: 20vh;
    width: 70vw;
    background-color: rgb(89, 100, 100);
    display: inline-flex;
    margin: 20px;
    border-radius: 20px;
}

.bookInfo {
    text-align: left;
    margin: 5px;

    &> * {
        background-color: beige;
        margin: 4px;
        padding: 4px;
        border-radius: 10px;
    }
}

.buttons {
   float: right;
   margin-right: 15vw;
   position:absolute;
   right: 0;
}