.main {
    margin-top: 40vh;
    width: 50vw;
    background-color: rgb(93, 86, 105);
    margin-inline: 25vw;
    border-radius: 20px;
}

.form {
    display: inline-flex;
}

.signUp {
    position: relative;
    color: white;
    padding: 20px;
    width: 10vw; 
    margin-left: 35%;
    text-align: center;
    background-color: rgb(69, 26, 75);
}